.intro > p {
    font-size: 20px;
}

.about {
    display: grid;
    grid-template-columns: 1fr min(60ch, 100% - 64px) 1fr;
    gap: 32px;
    margin-top: 50px;
}

.about > * {
    grid-column: 2 / span 1 ;
}