.intro > p {
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: var(--gray);
}

.about > * {
    grid-column: 2 / span 1 ;
}

.image-wrapper > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}