.case-study {
    gap: 0px 80px;
}

.case-study > * {
    grid-column: 2 / span 1 ;
    margin-bottom: 16px;
    background-size: cover;
    background-position: center;
    font-family: 'Times New Roman', Times, serif;
}

.case-img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    grid-column: 1 / 4;
}

.case-content > * {
    margin-bottom: 40px;
}
