:root {
    --pink: #E692AB;
    --blue: #4FBDD6;
    --gray: #606060;
}

body {
    margin: 0;
    font-size: 20px;
    overflow-y: scroll;
    background-color: #fef9ef;
    font-family: 'Roboto', sans-serif;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}

.grid {
    display: grid;
    grid-template-columns: 1fr minmax(350px, 800px ) 1fr;
    gap: 80px 32px;
}

.navbar {
    grid-column: 2 / span 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar > * {
    margin-right: 12px;
}

.logo {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    flex-grow: 1;
}

.logo > a {
    color: var(--pink);
    font-size: 28px;
}

.logo > a::after {
    content: 'dimaano';
    color: var(--blue);
}

a {
    text-decoration: none;
    color: var(--gray);
}

.content {
    margin-top: 50px;
}

.content > * {
    grid-column: 2 / span 1 ;
    margin-bottom: 16px;
    background-size: cover;
    background-position: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.calcifer, .drumline, .archive {
    height: 500px;
    font-size: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calcifer {
    background-image: url(../images/calciferbacon.gif);
}

.calcifer:hover {
    background-image: url(../images/calcifer.gif);
}

.drumline {
    background-image: url(../images/IMG_1559.JPG)
}

.drumline:hover {
    background-image: url(https://media.giphy.com/media/F7HGLpsQ9kRTDOYvyn/giphy.gif)
}

.archive {
    background-image: url(../images/book.jpg);
}

.archive:hover {
    background-image: url(https://media.giphy.com/media/jyanYxvGz3MOc/giphy.gif);
}

.footer {
    margin-top: 50px;
    height: 100px;
    align-items: center;
}

.footer-content {
    grid-column: 2 / span 1;
    display: flex;
    justify-content: center;
}

.footer-content > * {
    margin: 0 10px;
}
