:root {
    --pink: #E692AB;
    --blue: #4FBDD6;
}
body {
    margin: 0;
    font-size: 24px;
    overflow-y: scroll;
    background-color: #fef9ef;
}

body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.navbar-wrapper {
    display: grid;
    grid-template-columns: 1fr minmax(200px, 800px ) 1fr;
    gap: 80px;
}

.logo {
    font-style: italic;
    flex-grow: 1;
}

.logo > a {
    color: var(--pink);
    font-size: 24px;
}

.logo > a::after {
    content: 'dimaano';
    color: var(--blue);
}

.navbar {
    grid-column: 2 / span 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar > * {
    margin-right: 12px;
}

a {
    text-decoration: none;
    color: #303030;
}

a:hover {
    color: #000000;
}

.content {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr minmax(200px, 800px ) 1fr;
    gap: 80px;
}

.content > * {
    grid-column: 2 / span 1 ;
    margin-bottom: 16px;
    background-size: cover;
    background-position: center;
}

.calcifer, .drumline, .archive {
    height: 500px;
    font-size: 64px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calcifer {
    background-image: url(../images/calciferbacon.gif);
}

.calcifer:hover {
    background-image: url(../images/calcifer.gif);
}

.drumline {
    background-image: url(../images/IMG_1559.JPG)
}

.drumline:hover {
    background-image: url(https://media.giphy.com/media/F7HGLpsQ9kRTDOYvyn/giphy.gif)
}

.archive {
    background-image: url(../images/book.jpg);
}

.archive:hover {
    background-image: url(https://media.giphy.com/media/jyanYxvGz3MOc/giphy.gif);
}

.footer {
    margin-top: 50px;
    height: 100px;
    display: grid;
    gap: 12px;
    grid-template-columns: 4fr repeat(2, 1fr) 4fr;
    justify-items: center;
    align-items: center;
}

.linkedin {
    grid-column: 2 / span 1;
}