:root {
    --pink: #E692AB;
    --blue: #4FBDD6;
    --gray: #606060;
}

body {
    margin: 0;
    font-size: 20px;
    overflow-y: scroll;
    background-color: #fef9ef;
    font-family: 'DM Sans', sans-serif;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* body::-webkit-scrollbar {
    display: none;
} */

.grid {
    display: grid;
    grid-template-columns: 1fr minmax(200px, 800px ) 1fr;
    gap: 80px 32px;
}

.navbar {
    grid-column: 2 / span 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar > * {
    margin-right: 12px;
}

.logo {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    flex-grow: 1;
}

.logo > a {
    color: var(--pink);
    font-size: 28px;
}

.logo > a::after {
    content: 'dimaano';
    color: var(--blue);
}

h1 {
    font-weight: 700;
    font-family: 'Manrope', 'sans-serif';
    color: black;
}

a {
    text-decoration: none;
}

.footer-content > a, .navbar > a {
    color: var(--gray);
}

.home-intro {
    display: grid;
    grid-gap: 48px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr) );
    align-items: center;
    /* margin-top: 12px; */
}

.home-intro > img {
    width: 120%;
    object-fit: fill;
    justify-self: center;
}

.home-intro-text > p {
    color: var(--gray);
}

.home-intro-text > h1 {
    margin: 0;
}

.home-intro-cta {
    border-radius: 50px;
    box-shadow: 0 0 8px rgb(0 0 0 / 4%);
    background-color: var(--blue);
    padding: 16px;
    text-align: center;
    cursor: pointer;
}


.content > * {
    grid-column: 2 / span 1 ;
    margin-bottom: 16px;
    background-size: cover;
    background-position: center;
    /* font-family: 'Times New Roman', Times, serif; */
    color: white;
}

.content-archive {
    justify-self: center;
    border-radius: 50px;
    box-shadow: 0 0 8px rgb(0 0 0 / 4%);
    width: 200px;
    background-color: transparent;
    border: solid;
    border-color: var(--blue);
    border-width: 2px;
    color: var(--blue);
    padding: 16px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    font-weight: 700;
    font-family: 'Manrope', 'sans-serif';
}

.content-archive:hover {
    color: #fef9ef;
    background-color: var(--blue);
}

.calcifer, .drumline, .archive {
    height: 500px;
    font-size: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calcifer {
    background-image: url(../images/calciferbacon.gif);
}

.calcifer:hover {
    background-image: url(../images/calcifer.gif);
}

.drumline {
    background-image: url(../images/IMG_1559.JPG)
}

.drumline:hover {
    background-image: url(https://media.giphy.com/media/F7HGLpsQ9kRTDOYvyn/giphy.gif)
}

.archive {
    background-image: url(https://media.giphy.com/media/jyanYxvGz3MOc/giphy.gif);
}

.footer {
    margin-top: 50px;
    height: 100px;
    align-items: center;
}

.footer-content {
    grid-column: 2 / span 1;
    display: flex;
    justify-content: center;
}

.footer-content > * {
    margin-right: 10px;
}
